## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [4]:
lista_1 = ["Buenos Aires","Londres","Roma","Paris","Montevideo","Madrid"]
print(lista_1)

['Buenos Aires', 'Londres', 'Roma', 'Paris', 'Montevideo', 'Madrid']

2) Imprimir por pantalla el segundo elemento de la lista

In [4]:
segundo_lista_1 = lista_1[1]
print(segundo_lista_1)

Londres

3) Imprimir por pantalla del segundo al cuarto elemento

In [8]:
print(lista_1[1:4])

['Londres', 'Roma', 'Paris']

4) Visualizar el tipo de dato de la lista

In [13]:
tipo_dato = type(lista_1[0])
print(tipo_dato)

<class 'str'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [14]:
print(lista_1[4:])

['Montevideo', 'Madrid']

6) Visualizar los primeros 4 elementos de la lista

In [16]:
print(lista_1[:4])

['Buenos Aires', 'Londres', 'Roma', 'Paris']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [18]:
lista_1.append("Barcelona")
lista_1.append("Paris")
print(lista_1)

['Buenos Aires', 'Londres', 'Roma', 'Paris', 'Montevideo', 'Madrid', 'Barcelona', 'Paris']

8) Agregar otra ciudad, pero en la cuarta posición

In [21]:
lista_1.insert(3,"Bariloche")
print(lista_1)

['Buenos Aires', 'Londres', 'Roma', 'Bariloche', 'Paris', 'Montevideo', 'Madrid', 'Barcelona', 'Paris']

9) Concatenar otra lista a la ya creada

In [22]:
nueva_lista = ["Sevilla","San Martin","Mar del Plata","Pinamar"]
lista_1.extend(nueva_lista)
print(lista_1)

['Buenos Aires', 'Londres', 'Roma', 'Bariloche', 'Paris', 'Montevideo', 'Madrid', 'Barcelona', 'Paris', 'Sevilla', 'San Martin', 'Mar del Plata', 'Pinamar']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [23]:
lista_1.index("Paris")
# La particularidad es que devuelve la primera posicion encontrada de la ciudad repetida.

4

11) ¿Qué pasa si se busca un elemento que no existe?

In [24]:
lista_1.index("Monaco")
# Devuelve un mensaje de error indicando que la palabra no existe en la lista

ValueError: 'Monaco' is not in list

12) Eliminar un elemento de la lista

In [26]:
lista_1.remove("Paris")
print(lista_1)

['Buenos Aires', 'Londres', 'Roma', 'Bariloche', 'Montevideo', 'Madrid', 'Barcelona', 'Paris', 'Sevilla', 'San Martin', 'Mar del Plata', 'Pinamar']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [27]:
lista_1.remove("Monaco")
# Devuelve un mensaje de error que la palabra no existe en la lista.

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [30]:
ultimo = lista_1[len(lista_1) - 1]
print(ultimo)

Pinamar

15) Mostrar la lista multiplicada por 4

In [31]:
print(lista_1 * 4)

['Buenos Aires', 'Londres', 'Roma', 'Bariloche', 'Montevideo', 'Madrid', 'Barcelona', 'Paris', 'Sevilla', 'San Martin', 'Mar del Plata', 'Pinamar', 'Buenos Aires', 'Londres', 'Roma', 'Bariloche', 'Montevideo', 'Madrid', 'Barcelona', 'Paris', 'Sevilla', 'San Martin', 'Mar del Plata', 'Pinamar', 'Buenos Aires', 'Londres', 'Roma', 'Bariloche', 'Montevideo', 'Madrid', 'Barcelona', 'Paris', 'Sevilla', 'San Martin', 'Mar del Plata', 'Pinamar', 'Buenos Aires', 'Londres', 'Roma', 'Bariloche', 'Montevideo', 'Madrid', 'Barcelona', 'Paris', 'Sevilla', 'San Martin', 'Mar del Plata', 'Pinamar']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [16]:
tupla_1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(tupla_1))

<class 'tuple'>

17) Imprimir desde el índice 10 al 15 de la tupla

In [34]:
print(tupla_1[9:15])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [36]:
tupla_1.index(20)
tupla_1.index(30)  # Devuelve un mensaje de error que el elemento a buscar no existe en la tupla.

19

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [10]:
lista_1.remove("Paris")
nueva_ciudad = "Paris"
if (not (nueva_ciudad in lista_1)):
    lista_1.append(nueva_ciudad)
    mensaje = "Se agrego nueva ciudad a la lista."
else:
    mensaje = "La ciudad ya existe, no se agrego a la lista."
print(mensaje)
print(lista_1)

Se agrego nueva ciudad a la lista.
['Buenos Aires', 'Londres', 'Roma', 'Montevideo', 'Madrid', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [17]:
#tupla_1.append("Paris")
contar_l = "Paris"
contar_t = 3
contar_lista = lista_1.count(contar_l)
contar_tupla = tupla_1.count(contar_t)
print(contar_l," aparece ", contar_lista, " en la lista.")
print(contar_t," aparece ", contar_tupla, " en la tupla.")

Paris  aparece  3  en la lista.
3  aparece  1  en la tupla.

21) Convertir la tupla en una lista

In [19]:
tupla_lista = list(tupla_1)
print(type(tupla_lista))

<class 'list'>

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [20]:
primero, segundo, tercero = tupla_1[0:3]
print(primero, segundo, tercero)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [21]:
mi_diccionario = {"Ciudad" : lista_1, "Pais" : ["Argentina", "Italia", "Inglaterra","Francia","Alemania","Brasil"], "Continente": ["America", "Europa","Africa","Asia"]}
print(mi_diccionario)
print(type(mi_diccionario))

{'Ciudad': ['Buenos Aires', 'Londres', 'Roma', 'Montevideo', 'Madrid', 'Paris', 'Paris', 'Paris'], 'Pais': ['Argentina', 'Italia', 'Inglaterra', 'Francia', 'Alemania', 'Brasil'], 'Continente': ['America', 'Europa', 'Africa', 'Asia']}
<class 'dict'>

24) Imprimir las claves del diccionario

In [25]:
print(mi_diccionario.keys())

dict_keys(['Ciudad', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [30]:
print(mi_diccionario["Ciudad"])

['Buenos Aires', 'Londres', 'Roma', 'Montevideo', 'Madrid', 'Paris', 'Paris', 'Paris']