## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
n_entero = 6
print(n_entero)

6

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
constante = 8.5
type(constante)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
imprimir = type(n_entero)
print(imprimir)

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre = "Axel"

5) Crear una variable que contenga un número complejo

In [6]:
n_complejo = 345988

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(n_complejo)

int

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
import math
pi = (math.pi)
redondeo_pi = round(pi,4)
print(redondeo_pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [14]:
valor_1 = "True"
valor_2 = True
# El primer valor es un string y el segundo valor es un booleano.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [15]:
imprimir_valor_1 = type(valor_1)
imprimir_valor_2 = type(valor_2)
print(imprimir_valor_1)
print(imprimir_valor_2)

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
n_entero_10 = 17
n_decimal_10 = 6.56
suma = n_decimal_10 + n_entero_10
print(suma)

23.56

11) Realizar una operación de suma de números complejos

In [18]:
#  z = a + i . b
#  z : Número Complejo
#  a : Parte Real
#  i : Unidad Imaginaria
#  b : Parte Imaginaia

a = 2 + 2j
b = 3 + 3j
resultado = (a + b)
print(resultado)

(5+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [19]:
c = a + 2.34
print(c)

(4.34+2j)

13) Realizar una operación de multiplicación

In [21]:
resultado_13 = 2 * 3
print(resultado_13)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
resultado_14 = 2 ** 8
print(resultado_14)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
dividendo_15 = 27
divisor_15 = 4
resultado_15 = dividendo_15 / divisor_15
print(resultado_15)

6.75

16) De la división anterior solamente mostrar la parte entera

In [25]:
resultado_16 = int(resultado_15)
print(resultado_16)
# o tambien:
resultado_16b = (dividendo_15 // divisor_15)
print(resultado_16b)

6
6

17) De la división de 27 entre 4 mostrar solamente el resto

In [26]:
resultado_17 = dividendo_15 % divisor_15
print(resultado_17)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [29]:
# punto 16 = parte entera
# punto 17 = resto

resultado_18 = (divisor_15 * resultado_16) + resultado_17
print(resultado_18)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
variable_1 = "Lionel "
variable_2 = "Andres "
variable_3 = "Messi "
resultado_19 = (variable_1 + variable_2 + variable_3)
print(resultado_19)

Lionel Andres Messi

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [2]:
valor_1_20 = "2"
valor_2_20 = 2
resultado_20 = bool(valor_1_20 == valor_2_20)
print(resultado_20)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [4]:
valor_1_21 = int(valor_1_20)
resultado_21 = bool(valor_1_21 == valor_2_20)
print(resultado_21)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [7]:
a_22 = float("3,8")
print(a_22)
# El error se encuentra en la coma,ya que se deberia usar un punto para los flotantes.

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [8]:
variable_23 = 3
variable_23 -= 1
print(variable_23)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [9]:
operacion_24 = 1 << 2
print(operacion_24)
# 1 << 2 = 0001 << 2
# el 1 se desplaza 2 posiciones hacia la izquierda quedando como 0100 = 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [11]:
operacion_25 = (2 + "2")
print(operacion_25)
# no se puede hacer la opreacion de suma entre un int y un str
# si los dos son int arrojaria de resultado 4
# si los dos son str arrojaria de resultado 22

22

26) Realizar una operación válida entre valores de tipo entero y string

In [14]:
valor_1_26 = 3
valor_2_26 = "repito "
resultado_26 = (valor_1_26 * valor_2_26 + str(valor_1_26) + " veces")
print(resultado_26)

repito repito repito 3 veces